# specific ignored folders

/working/
/test/

# ignored all called

build/
bin/
ref/
out/

# ignore all files with these extensions

*.yy.cpp
*.tab.cpp
*.tab.hpp
*.o
*.output
*.log
.vagrant
*~
*.s

# emacs temp files

.#*
