# ignored folders

./bin/
./c_lexer/build/
./c_parser/build/
./c_compiler/build/
./working/
./test/
./c_compiler/test/ref/
./c_compiler/test/out/

*.yy.cpp
*.tab.cpp
*.tab.hpp
*.o
*.output
\#*
.#*
*.log
.vagrant
*~
*.s
