# specific ignored folders

./bin/
./working/
./test/

# ignored all called

build/

# ignore all files with these extensions

*.yy.cpp
*.tab.cpp
*.tab.hpp
*.o
*.output
*.log
.vagrant
*~
*.s

# emacs temp files

.#*
